/* Global Styles */
body {
    margin: 0;
    font-family: 'Merriweather', serif;
    background-color: #0a0f2c;
    color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

/* Welcome Screen Styles */
.welcome-container {
    text-align: center;
}

.title {
    font-size: 6rem;
    font-weight: bold;
    margin: 0 0 20px;
}

#start-btn {
    padding: 15px 30px;
    font-size: 1.5rem;
    background-color: beige;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: #0a0f2c;
}

#start-btn:hover {
    background-color: #ddd;
}

/* Questions Page Styles */
.question-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 800px;
    position: relative;
    margin-top: -125px;
}

.button-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.question-box {
    border: 5px solid beige;
    padding: 20px;
    width: 100%;
    max-width: 800px;
    height: 55vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: auto;
    margin-top: 10px;
}

#question-text {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    font-size: 1rem;
    padding: 10px;
    line-height: 1.5;
    white-space: pre-wrap;
}

#pause-btn, #next-btn {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: beige;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: #0a0f2c;
}

#pause-btn:hover, #next-btn:hover {
    background-color: #ddd;
}

#back-btn {
    position: absolute;
    top: 25px;
    left: 25px;
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: beige;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: #0a0f2c;
    z-index: 1;
}

#back-btn:hover {
    background-color: #ddd;
}

/* User Input Styles */
#answer-input-container {
    display: none;
    margin-top: 10px;
    text-align: center;
}

#answer-input {
    padding: 10px;
    font-size: 1rem;
    border: 2px solid beige;
    border-radius: 5px;
    background-color: #0a0f2c;
    color: beige;
    width: 100%;
    max-width: 400px;
}

#answer-input:focus {
    outline: none;
    border-color: #ddd;
}

#submit-answer-btn {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: beige;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: #0a0f2c;
    margin-top: 10px;
}

#submit-answer-btn:hover {
    background-color: #ddd;
}

#answer-container {
    margin-top: 10px;
    font-size: 1.2rem;
    text-align: center;
}
