data/tossups_part_1.json filter=lfs diff=lfs merge=lfs -text
data/tossups_part_2.json filter=lfs diff=lfs merge=lfs -text
data/tossups_part_3.json filter=lfs diff=lfs merge=lfs -text
data/tossups_part_4.json filter=lfs diff=lfs merge=lfs -text
data/tossups_part_5.json filter=lfs diff=lfs merge=lfs -text
data/tossups_part_6.json filter=lfs diff=lfs merge=lfs -text
